*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "a Anterobot";
}

.card{
    width: 100%;
    height: 450px;
    background: teal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card .box {
background: cornsilk;
    width: 32%;
    height: 220px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .box input{
    width: 90%;
    height: 55px;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 25px;
    color:red;
    border: none;
    outline: none;
}

.card .box input:focus{
    background: #e3e3e3;
    border: 1px solid red;
    border-radius: 12px;
}

.card .box label{
    color: red;
    font-size: 20px;
    letter-spacing: 14px;
    margin: 4px;
}